.form {
  width: 100%;
  max-width: 540px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-sign {
  height: 460px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 100%;
}

.form__fields-role {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: initial;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__card {
  width: 238px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-transform: all 0.2s;
          transform: all 0.2s;
}

#inputStudent:checked ~ .form__card-picture,
#inputTeacher:checked ~ .form__card-picture {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.form__card-picture {
  width: 100%;
  border-radius: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__cart-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form__card-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__item {
  width: 100%;
  position: relative;
}

.form__input {
  font-family: 'Proxima Nova Rg';
  width: inherit;
  padding: 20px 30px;
  color: #2e3134;
  border: 1px solid rgba(1, 12, 59, 0.2);
  border-radius: 16px;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input.error {
  border-color: #f26363;
}

.form__item-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  opacity: 0.2;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.form__item-icon.active {
  opacity: 1;
}

.form__btn {
  width: 100%;
  padding: 20px 30px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  border-radius: 16px;
  background-color: #97cd92;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
/*# sourceMappingURL=form.css.map */