body {
  font-family: "Proxima Nova Rg"; }

.container__aside {
  min-height: 100vh;
  padding-left: 320px; }

.nav {
  position: fixed;
  width: 260px;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 64px 0 80px 0;
  background-color: #ffffff; }
  .nav__top {
    display: flex;
    flex-direction: column;
    gap: 118px; }
  .nav__logo {
    padding-left: 60px; }
  .nav__list {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .nav__item {
    width: 100%;
    padding: 20px 0 20px 60px;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #2e3134;
    border-left: 9px solid #ffffff; }
    .nav__item:hover {
      background-color: rgba(77, 98, 237, 0.05);
      border-color: #4d62ed; }
  .nav__bottom {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px; }
  .nav__bottom-item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #2e3134;
    opacity: 0.6; }

.sign {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: right; }
  .sign-in {
    background-color: #faf8ee;
    background-image: url(/assets/img/sign/charachter-in.png); }
  .sign-up {
    background-color: #97cd92;
    background-image: url(/assets/img/sign/charachter-up.png); }
  .sign-teacher {
    background-color: #4d62ed;
    background-image: url(/assets/img/sign/charachter-teacher.png); }
  .sign-student {
    background-color: #2e3134;
    background-image: url(/assets/img/sign/charachter-student.png); }
  .sign__container {
    width: 740px;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in; }
  .sign__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
    margin-top: 140px; }
  .sign__header-title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 16px;
    padding-top: 60px; }
  .sign__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .sign__link {
    font-weight: 700;
    color: #4d62ed; }

[data-signUp] {
  position: relative;
  z-index: 4; }

[data-signRole] {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  transform: translateX(0); }

[data-signLevel] {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translateX(0); }

[data-signEnd] {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform: translateX(0); }

.form {
  width: 100%;
  max-width: 540px;
  height: 460px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .form__fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%; }
    .form__fields-role {
      flex-direction: row;
      gap: initial;
      justify-content: space-between; }
  .form__card {
    width: 238px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    transform: all 0.2s; }
  #inputStudent:checked ~ .form__card-picture, #inputTeacher:checked ~ .form__card-picture {
    transform: translateY(-20px);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2); }
  .form__card-picture {
    width: 100%;
    border-radius: 16px;
    transition: all 0.2s;
    cursor: pointer; }
  .form__cart-image {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .form__card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .form__item {
    width: 100%;
    position: relative; }
  .form__input {
    font-family: 'Proxima Nova Rg';
    width: inherit;
    padding: 20px 30px;
    color: #2e3134;
    border: 1px solid rgba(1, 12, 59, 0.2);
    border-radius: 16px;
    outline: none;
    transition: all 0.3s; }
    .form__input.error {
      border-color: #f26363; }
  .form__item-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    opacity: 0.2;
    transition: opacity 0.2s;
    cursor: pointer; }
    .form__item-icon.active {
      opacity: 1; }
  .form__btn {
    width: 100%;
    padding: 20px 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    border-radius: 16px;
    background-color: #97cd92;
    border: none;
    color: #ffffff;
    cursor: pointer; }

/*# sourceMappingURL=all.css.map */
