.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px; }
  .head__info {
    width: 500px; }
  .head__title {
    font-size: 36px;
    font-weight: 600;
    color: #2e3134;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px; }
    .head__title .head__level {
      color: #ffffff;
      background: #41bbff;
      border-radius: 12px;
      padding: 8px 20px;
      font-weight: 600;
      font-size: 16px; }
  .head__subtitle {
    font-size: 16px; }
    .head__subtitle-600 {
      font-weight: 600; }
  .head__nav-default {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px; }
  .head__nav-sub {
    display: none;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    gap: 24px;
    color: #2e3134;
    transition: all 0.3;
    transform: translateX(50px); }
    .head__nav-sub.show {
      display: flex;
      transform: translateX(0); }

