@import '../variables.scss';

body {
  font-family: 'Proxima Nova Rg';
}

.btn {
  border-radius: 16px;
  color: $ff;
  background-color: $green;
  width: fit-content;
  text-transform: uppercase;
  padding: 20px 32px;
  font-size: $fz20;
  cursor: pointer;

  &-square {
    padding: 20px;
  }
  &-gray {
    color: $orange;
    background-color: rgba(46, 49, 52, 0.05);
  }
  &-red {
    color: $ff;
    background-color: $red;
  }
}

.container {
  max-width: 1080px;
  width: 100%;
  padding-top: 50px;
}
