$orange: #ff7a00;
$green: #97cd92;
$blue: #4d62ed;
$black: #2e3134;
$ff: #ffffff;
$back: #faf8ee;
$backcol: #fcfcfc;
$black-20: rgba(1, 12, 59, 0.2);
$red: #f26363;

$fz36: 36px;
$fz24: 24px;
$fz16: 16px;
